{% extends "base.html" %}

{% block content %}
  <h1>THE VAULT IS OPEN: AUTHENTIC AIR JORDANS</h1>
  <p>My name is {{name}}</p>
  <p>Welcome to your ultimate source for authentic Air Jordans. From iconic OG colorways and high-heat retro drops to the rarest grail-status collaborations, every pair in our collection is 100% verified authentic and ready to elevate your rotation. Whether you're chasing classic Jumpman heritage or looking for the next limited release, step up your sneaker game right here.</p>
  <img src="{{ url_for('static', filename='images/happy.png') }}" alt="jordan 4" class="img-fluid">
{% endblock %}
